spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mygame?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: MyWEB
    password: WEB1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  thymeleaf:
    cache: false
    
    spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: youbin5412@gmail.com
    password: wxeh iajm crfg iygy  # \uad6c\uae00 MFA \uc0ac\uc6a9\uc2dc \uc571\ube44\ubc00\ubc88\ud638 \ud544\uc694
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true